@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LockNotes</h1>
    <p>your secure online notebook, powered by ASP.NET Core</a>.</p>
</div>
